.aboutContainer {
  display: flex;
  justify-content: center;
  background-color: #fbfbfe !important;
  width: 100%;
  height: 40em;
  max-width: 65em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 13em;
  justify-content: space-evenly;
  align-items: flex-start;
}

.socialIcons div {
  margin-bottom: 10px;
}

.socialIcons div > * {
  font-size: 1.2em;
  color: #ff0000;
  transition: all 100ms ease-in;
}

.socialIcons div > *:hover {
  color: #cc0000;
  cursor: pointer;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
}

.aboutMe div {
  margin-bottom: 10px;
}

.aboutMe img {
  max-width: 10em;
  height: auto;
}

.photo {
  font-size: 3em;
}

.myInfo {
  font-family: Arial, sans-serif;
  color: #333;
  width: 40%;
  text-align: left;
}

.myInfo h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.soft {
  font-size: 1.5em;
  color: rgb(103, 102, 102);
}

.myInfo p + p {
  color: gray;
  font-size: 1.1em;
}

.myInfo button {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.3em;
  margin-top: 1em;
}

.myInfo button:hover {
  background-color: #cc0000;
}

@media (max-width: 725px) {
  .photo {
    font-size: 2.3em;
  }
}

@media (max-width: 625px) {
  .photo {
    font-size: 2.5em;
  }
  .aboutMe {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 19em;
  }

  .myInfo {
    width: 80%;
  }
}

@media (max-width: 440px) {
  .photo {
    font-size: 2em;
  }
  .myInfo {
    width: 90%;
  }
}

@media (max-width: 342px) {
  .photo {
    font-size: 1.7em;
  }
}

@media (max-width: 275px) {
  .photo {
    font-size: 1.2em;
  }
}
